altair==4.1.0
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217264330/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
base58 @ file:///home/conda/feedstock_root/build_artifacts/base58_1610222858736/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
blinker==1.4
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1633389254184/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1633381380408/work
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1633010882559/work
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831756778/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==7.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1618262410900/work
cryptography @ file:///C:/ci/cryptography_1616769504165/work
cycler==0.10.0
DateTime==4.3
debugpy @ file:///D:/bld/debugpy_1627074992000/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1616781027402/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1632423794953/work
htmlmin @ file:///tmp/build/80754af9/htmlmin_1605825795554/work
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
ImageHash @ file:///tmp/build/80754af9/imagehash_1626443409618/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1630267625408/work
ipykernel @ file:///D:/bld/ipykernel_1631291274536/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1632763985029/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
jedi @ file:///D:/bld/jedi_1610147001629/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1633119270293/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1633454794268/work
jupyter-core @ file:///D:/bld/jupyter_core_1631852852549/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
kiwisolver @ file:///C:/ci/kiwisolver_1612282555033/work
llvmlite==0.36.0
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
menuinst==1.4.16
missingno @ file:///tmp/build/80754af9/missingno_1605824147679/work
mistune @ file:///D:/bld/mistune_1624941476479/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
multimethod @ file:///tmp/build/80754af9/multimethod_1605811838145/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1629120697898/work
nbconvert @ file:///D:/bld/nbconvert_1632536081990/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx @ file:///tmp/build/80754af9/networkx_1627459939258/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1631733685426/work
numba @ file:///C:/ci/numba_1616774446188/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas @ file:///C:/ci/pandas_1618365625310/work
pandas-profiling @ file:///home/conda/feedstock_root/build_artifacts/pandas-profiling_1632836752399/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
phik @ file:///tmp/build/80754af9/phik_1622102328468/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///C:/ci/pillow_1625663294916/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1622586138406/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1629903925368/work
protobuf==3.16.0
pyarrow==1.0.1
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydantic @ file:///C:/ci/pydantic_1621547104072/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1618346240213/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent @ file:///D:/bld/pyrsistent_1610147004555/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyWavelets @ file:///C:/ci/pywavelets_1607645631519/work
pywin32==228
pywinpty @ file:///D:/bld/pywinpty_1618862979934/work
PyYAML==5.4.1
pyzmq @ file:///D:/bld/pyzmq_1631793440336/work
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1626384238958/work
scikit-learn @ file:///C:/ci/scikit-learn_1614446712466/work
scipy @ file:///C:/ci/scipy_1630606917240/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1633453177811/work
streamlit-pandas-profiling==0.1.2
tangled-up-in-unicode @ file:///tmp/build/80754af9/tangled-up-in-unicode_1620708225603/work
terminado @ file:///D:/bld/terminado_1617048977340/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm @ file:///tmp/build/80754af9/tqdm_1631818572807/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1630423529112/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1633178754242/work
tzlocal @ file:///D:/bld/tzlocal_1629721734588/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
validators @ file:///home/conda/feedstock_root/build_artifacts/validators_1608296160673/work
visions @ file:///tmp/build/80754af9/visions_1633121758269/work
watchdog @ file:///D:/bld/watchdog_1633154695111/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1605475657235/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
zope.interface==5.4.0
